<!-- User Account will add more in the future such as profile image user details but for now this is fine -->
{% extends "public/templates/public_template.html" %}
<!-- title block -->
{% block title %}{{title}}{% endblock %}
<!-- start of the main block ! -->
{% block main %}

<div class="account-block">
  <h1>Your Account</h1>
  <h2>Welcome back {{ current_user.username }}</h2>
  <a href="{{url_for('user.delUser', id=current_user.id)}}">
    <button class="btn btn-danger">Remove</button>
  </a>
  
{% endblock %}
