<!-- User Account will add more in the future such as profile image user details but for now this is fine -->
{% extends "public/templates/public_template.html" %}
<!-- title block -->
{% block title %}{{title}}{% endblock %}
<!-- start of the main block ! -->
{% block main %}

<div class="account-block">
  <h1>Your Account</h1>
  <h2>Welcome back {{ current_user.username }}</h2>
  <a href="{{url_for('user.delUser', id=current_user.id)}}">
    <button class="btn btn-danger">Remove</button>
  </a>
  <hr>
  <br>
  <h2>Watchlists</h2>
  <h4>Your Movies.</h4>
  <div class="row">
    {% for result in movies %}
    <div class="card" style="width: 18rem;">
      <a href="{{ url_for('movie.current_movie', movie_id=result['id']) }}">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{ result['backdrop_path'] }}"
        alt="{{result['title']}}">
      </a>
      <div class="card-body">
        <p class="card-title">{{result['title']}}</p>
               
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>
  <h4>Your Shows</h4>
  <div class="row">
    {% for show in shows %}
    <div class="card" style="width: 18rem;">
      <a href="{{ url_for('show.current_show', show_id=result['id']) }}">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{ show['backdrop_path'] }}"
        alt="{{show['name']}}">
      </a>
      <div class="card-body">
        <p class="card-title">{{show['name']}}</p>      
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Mass Clear All button  -->
  <a href="{{ url_for('user.delItem', id=current_user.id) }}">
    <button class="btn btn-danger"> Clear All</button>
  </a> 
</div>
  
{% endblock %}
