<!-- Used a diferent hmtl extention for this and the Login forms  -->
{% extends "public/templates/forms.html" %}
<!-- Caling the title from the route! -->
{% block title %} {{title}} {% endblock %}
<!-- start of the main block -->
{% block main %}
<!-- Flash Message Templates! -->
<div class="container w-25">
  {% with messages=get_flashed_messages(with_categories=true) %} {% if messages
  %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}" id="alerts">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}
</div>
<!-- Start of the Registration Form  -->
<div class="container-form">
  <a href="/">
    <div class="regLogo">
    </div>
  </a>
  <!-- Using WTForms for the Regstration form -->
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Sign up</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label")}}
        {% if form.username.errors %}
        {{ form.username(class="form-control form-control-md is-invalid", id="frm-inpts")}}
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        {% else %}
        {{ form.username(class="form-control form-control-md", id="frm-inpts")}}
        {% endif %}
        <br>
        {{ form.email.label(class="form-control-label")}}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-md is-invalid", id="frm-inpts")}}
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        {% else %}
        {{ form.email(class="form-control form-control-md", id="frm-inpts")}}
        {% endif %}
        <br>
        {{ form.password.label(class="form-control-label")}}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-md is-invalid", id="frm-inpts")}}
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        {% else %}
        {{ form.password(class="form-control form-control-md", id="frm-inpts")}}
        {% endif %}
        <br>
        {{ form.confirm_password.label(class="form-control-label")}}
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-md is-invalid", id="frm-inpts")}}
        {% for error in form.confirm_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        {% else %}
        {{ form.confirm_password(class="form-control form-control-md", id="frm-inpts")}}
        {% endif %}
        <br>
        {{ form.submit(class="form-control form-control-md", id="submitBtn")}}
      </div>
    </fieldset>
    <br>
    <!-- If the user already has an account redirect them to login -->
    <p>Have an account? <a href="{{ url_for('user.signin') }}">Login here!</a></p>
  </form>
</div>
{% endblock %}